<div>
    <mat-toolbar color="primary" class="custom-toolbar">
      <button (click)="AfficheSousMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button>
      <span>My Profil</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
</div>

<div *ngIf="sousMenu">
    <mat-toolbar color="second">
      <mat-toolbar-row class="custom-toolbar-row">
        <button (click)="redirectToQuestionnaire()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon >quiz</mat-icon>
          </button>
          <span>My Quizz</span>
          <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
</div>





