
<div>
    <mat-toolbar color="primary" class="custom-toolbar">
      <button (click)="AfficheSousMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon >menu</mat-icon>
      </button>
      <span>Mon profil</span>
      <span class="example-spacer"></span>
      <img  class="logo" src="/assets/logo2.png"/>
    </mat-toolbar>
</div>

<div *ngIf="sousMenu">
    <mat-toolbar color="second">
      <mat-toolbar-row class="custom-toolbar-row">
        <button (click)="redirectToQuestionnaire()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon >quiz</mat-icon>
          </button>
          <span>Mon Quizz</span>
          <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
</div>


<div class="corpsBienvenue">
    <!--<mat-icon class="custom-icon">person</mat-icon>-->
     <mat-card class="card">
      <mat-card-content>
    <p class="welcome-text">Bienvenue sur votre compte personnel eCare</p>
  </mat-card-content>
</mat-card>
<img  clase="imageFond" src="/assets/background.png"/>
</div>









