.example-spacer {
    flex: 1 1 auto;
  }

.custom-toolbar-row{
    color: white; /* Définissez la couleur du texte si nécessaire */
    background:#1a60a1e1  ;
}

.custom-toolbar{
    color: white; /* Définissez la couleur du texte si nécessaire */
    background:#1a60a1 ;
}

.custom-icon {
    font-size: -100px;
    color: #3f51b5; /* Couleur bleue par exemple */
  }
  
.welcome-text {
font-size: 24px;
font-weight: bold;
font-family: monospace;
text-align: center;
}

.card {
background-color: #43cad9;
border-radius: 25px;
color: white;
margin-top: 2%;
margin-bottom: 2%;
margin-right: 20%;
margin-left: 20%;
position: relative;
}

.logo {
width: 60px;
}

.imageFond {
width: 4%;
}